.main-eye {
  position: relative;
}

.eye-open {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 69%;
  transform: translateY(-50%);
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
