<!-- this is html -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="text-center text-primary">SignUp Form</h2>
      <form [formGroup]="registerDetails" (submit)="displayRegisterationData()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="Enter First Name"
            formControlName="firstName"
            tabindex="1"
            (keypress)="firstAndLastNameValidation($event)"
            autofocus
          />
          <div
            *ngIf="
              getControl('firstName')?.errors &&
              (getControl('firstName')?.touched ||
                getControl('firstName')?.dirty)
            "
          >
            <small
              class="text-danger"
              *ngIf="getControl('firstName')?.errors?.['required']"
              >First Name is required</small
            >
          </div>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Enter Last Name"
            formControlName="lastName"
            (keypress)="firstAndLastNameValidation($event)"
            tabindex="2"
          />
          <div
            *ngIf="
              getControl('lastName')?.errors &&
              (getControl('lastName')?.touched || getControl('lastName')?.dirty)
            "
          >
            <small
              class="text-danger"
              *ngIf="getControl('lastName')?.errors?.['required']"
              >Last Name is required</small
            >
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter Valid Email"
            formControlName="email"
            tabindex="3"
            CopyPasteBlock
          />
          <div
            *ngIf="
              getControl('email')?.errors &&
              (getControl('email')?.touched || getControl('email')?.dirty)
            "
          >
            <small
              class="text-danger"
              *ngIf="getControl('email')?.errors?.['required']"
              >Email is required</small
            >
            <small
              class="text-danger"
              *ngIf="getControl('email')?.errors?.['email']"
              >Invalid Email</small
            >
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="phone"
            placeholder="Enter Phone Number"
            formControlName="phoneNumber"
            tabindex="4"
            (keypress)="phoneValidation($event)"
          />
          <div
            *ngIf="
              getControl('phoneNumber')?.errors &&
              (getControl('phoneNumber')?.touched ||
                getControl('phoneNumber')?.dirty)
            "
          >
            <small
              class="text-danger"
              *ngIf="getControl('phoneNumber')?.errors?.['required']"
              >Phone Number is required</small
            >
            <small
              class="text-danger"
              *ngIf="getControl('phoneNumber')?.errors?.['maxlength']"
              >Max length is 10 digits</small
            >
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="country">Select Country</label>
            <mat-form-field class="w-100">
              <mat-select formControlName="country">
                <mat-option *ngFor="let c of country" [value]="c.name">{{
                  c.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="
                getControl('country')?.errors && getControl('country')?.touched
              "
            >
              <small
                class="text-danger"
                *ngIf="getControl('country')?.errors?.['required']"
                >Country is required</small
              >
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="state">Select State</label>
            <mat-form-field class="w-100">
              <mat-select formControlName="state">
                <mat-option *ngFor="let c of state" [value]="c.name">{{
                  c.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="
                getControl('state')?.errors && getControl('state')?.touched
              "
            >
              <small
                class="text-danger"
                *ngIf="getControl('state')?.errors?.['required']"
                >State is required</small
              >
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Gender</label>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button [value]="true">Male</mat-radio-button>
            <mat-radio-button [value]="false">Female</mat-radio-button>
          </mat-radio-group>
          <div
            *ngIf="
              getControl('gender')?.errors && getControl('gender')?.touched
            "
          >
            <small
              class="text-danger"
              *ngIf="getControl('gender')?.errors?.['required']"
              >Gender is required</small
            >
          </div>
        </div>

        <div class="form-group main-eye">
          <label for="exampleInputPassword1">Password</label>
          <input
            [type]="eyeOpen ? 'text' : 'password'"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            formControlName="password"
          />
          <div
            class="eye-open"
            *ngIf="!eyeOpen"
            (click)="togglePasswordVisibility()"
          >
            <img src="../../assets/eye-slash.svg" alt="just" />
          </div>
          <div
            class="eye-open"
            *ngIf="eyeOpen"
            (click)="togglePasswordVisibility()"
          >
            <img src="../../assets/eye.svg" alt="just" />
          </div>
        </div>

        <div
          *ngIf="
            (f['password'].touched || f['password'].dirty) &&
            f['password'].invalid
          "
          class="text-danger"
        >
          <div *ngIf="f['password'].errors && f['password'].errors['required']">
            Password is required
          </div>

          <div *ngIf="f['password'].errors && f['password'].errors['pattern']">
            Invalid Password
          </div>
        </div>

        <div class="form-group">
          <label for="passw">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            id="passw"
            placeholder="Confirm Password"
            formControlName="conformPassword"
            tabindex="10"
            CopyPasteBlock
          />

          <div
            *ngIf="
              (f['conformPassword'].touched || f['conformPassword'].dirty) &&
              f['conformPassword'].invalid
            "
            class="text-danger"
          >
            <div
              *ngIf="
                f['conformPassword'].errors &&
                f['conformPassword'].errors['required']
              "
            >
              Password is required
            </div>
            <div
              *ngIf="
                f['conformPassword'].errors &&
                f['conformPassword'].errors['confirmedValidator']
              "
            >
              Password and Confirm Password should be same
            </div>
          </div>
        </div>

        <div class="text-center">
          <button
            type="submit"
            [disabled]="!registerDetails.valid"
            class="btn btn-primary"
          >
            SignUp
          </button>

          <div>
            <small
              >Already have a account?
              <a routerLink="/auth/login">sign in</a></small
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
