<div class="container mt-5">
  <h2 class="text-center mb-4">User Information</h2>
  <div class="card">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>First Name:</strong>{{ data[0].firstName }}
        </li>
        <li class="list-group-item">
          <strong>Last Name:</strong> {{ data[0].lastName }}
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> {{ data[0].email }}
        </li>
        <li class="list-group-item">
          <strong>Phone Number:</strong> {{ data[0].phoneNumber }}
        </li>
        <li class="list-group-item">
          <strong>Country:</strong> {{ data[0].country }}
        </li>
        <li class="list-group-item">
          <strong>State:</strong> {{ data[0].state }}
        </li>
        <li class="list-group-item">
          <strong>Gender:</strong> {{ data[0].gender }}
        </li>
      </ul>
    </div>
  </div>
</div>

